<div class="container">
  <div class="card">
    <h2>Add new Employee</h2>
    <form [formGroup]="employeeForm">
      <input type="text" formControlName="name" name="name" placeholder="name" required>
      <input type="text" formControlName="email" name="email" placeholder="email" required>
      <select  formControlName="departmentid" name="department" required>
        <option type="text" value="1">Customer Support</option>
        <option value="2">HR</option>
        <option value="3">Sales</option>
        <option value="4">IT</option>
        <option value="5">Marketing</option>
      </select>      
      <input type="text" formControlName="contact" name="contact" placeholder="contact" required>
      
      <button (click)="OnAddEmployee()"   [disabled]="isEditing"
      [ngClass]="{ 'mat-disabled': !isEditing }">Add</button>

      <button (click)="OnEditEmployee()" color="accent"  
      [ngClass]="{ 'mat-disabled': isEditing }">Edit</button>

    </form>
  </div>
</div>



<div class="notification" id="popup" hidden>
  <div class="notification-inner">
    <div class="notification-icon">
      <svg class="icon" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" *ngIf="showCloseIcon">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
      </svg>
      <svg *ngIf="!showCloseIcon" class="icon" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="red">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M12 9v3m0 3h.01m-.01 6a9 9 0 1 0 0-18 9 9 0 0 0 0 18Z" />
      </svg>
    </div>
    <div class="notification-text">
      <p class="title">{{popupTitle}}</p>
      <p class="subtitle">{{popupSubtitle}}</p>
    </div>
    <div class="notification-action">
      <button type="button">
        <svg class="x-icon" viewBox="0 0 20 20" fill="currentColor">
          <path d="M6.28 5.22a.75.75 0 0 0-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 1 0 1.06 1.06L10 11.06l3.72 3.72a.75.75 0 1 0 1.06-1.06L11.06 10l3.72-3.72a.75.75 0 0 0-1.06-1.06L10 8.94 6.28 5.22Z" />
        </svg>
       
      </button>
    </div>
  </div>
</div>