


      <!-- Employee Form Card -->
      <div class="card my-5">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-end mb-4">
            <h5 class="mb-0"><b>change data in the system,Be careful! Employee to the system</b></h5>
          </div>

          <form [formGroup]="employeeForm" >
            <div class="form-group mb-3">
              <label for="name">Name</label>
              <input type="text" id="name" class="form-control" placeholder="Name" formControlName="name" />
            </div>

            <div class="form-group mb-3">
              <label for="email">Email</label>
              <input type="email" id="email" class="form-control" placeholder="Email" formControlName="email" />
            </div>

            <div class="form-group mb-3">
              <label for="departmentid">Department</label>
              <select id="departmentid" formControlName="departmentid" class="form-control">
                <option value="1">Customer Support</option>
                <option value="2">HR</option>
                <option value="3">Sales</option>
                <option value="4">IT</option>
                <option value="5">Marketing</option>
              </select>
            </div>

            <div class="form-group mb-3">
              <label for="contact">Contact</label>
              <input type="tel" id="contact" class="form-control" placeholder="Contact" formControlName="contact" />
            </div>

       
          </form>
        </div>
      </div>

      <!-- Optional Login Section (if needed) -->
      <div class="card my-3">
        <div class="card-body">
          <div class="form-group mb-3">
            <div class="d-flex mt-1 justify-content-between">
              <div class="form-check">
                <input class="form-check-input input-primary" type="checkbox" id="customCheckc1" checked />
                <label class="form-check-label text-muted" for="customCheckc1">Keep me sign in</label>
              </div>
              <h5 class="text-secondary f-w-400"><a href="javascript:">Forgot Password?</a></h5>
            </div>

            <div class="d-grid mt-4">
              <button type="button"  (click)="OnAddEmployee()"  class="btn btn-primary"[disabled]="!isEditing"
              [ngClass]="{ 'mat-disabled': !isEditing }">Add</button>
            </div>

            <div class="d-grid mt-4">
               <button type="button" class="btn btn-primary" (click)="OnEditEmployee()"   [disabled]="isEditing"
                [ngClass]="{ 'mat-disabled': isEditing }">Edit</button>
            </div>
          </div>
        </div>
      </div>
