<div class="container table-responsive py-5" style="font-family: Arial, sans-serif;">

  <button (click)="openDialog()" type="button" class="btn btn-success text-white mb-3">
    Add New Employee
  </button>

  <p style="font-size: 16px; color: #333;">
    The fields below are essential for registering a new employee. Once submitted, the information will be automatically shared across all relevant modules of the system to ensure seamless data integration and consistency.
  </p>

</div>
  <div class="container table-responsive py-5">

    <table mat-table [dataSource]="dataSource" >

            <ng-container matColumnDef="id">
              <th mat-header-cell class="table-headers" *matHeaderCellDef>id</th>
              <td mat-cell *matCellDef="let emp">{{ emp.id }}</td>
            </ng-container>
                      <ng-container matColumnDef="name">
              <th mat-header-cell class="table-headers" *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let emp">{{ emp.name }}</td>
            </ng-container>
          
            <!-- Email Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef>Email</th>
              <td mat-cell *matCellDef="let emp">{{ emp.email }}</td>
            </ng-container>
          
            <!-- Department Column -->
            <ng-container matColumnDef="department">
              <th mat-header-cell *matHeaderCellDef>Department</th>
              <td mat-cell *matCellDef="let emp">{{ emp.department }}</td>
            </ng-container>
          
            <ng-container matColumnDef="status" >
              <th mat-header-cell *matHeaderCellDef>Status</th>
              <td mat-cell *matCellDef="let emp">
                <span
      class="status-circle"
      [ngClass]="emp.status ? 'active' : 'inactive'"
      matTooltip="{{ emp.status ? 'Active' : 'Inactive' }}">
    </span>
              </td>
            </ng-container>

            <!-- Contact Column -->
            <ng-container matColumnDef="contact">
              <th mat-header-cell *matHeaderCellDef>Contact</th>
              <td mat-cell *matCellDef="let emp">{{ emp.contact }}</td>
            </ng-container>
          
            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let emp">
                <button type="button" (click)="EditEmployee(emp.id,emp)" class="btn btn-primary">Edit</button>
                <button (click)="deleteEmployee(emp.id)" class="btn btn-danger">Delete</button>
              </td>
            </ng-container>
          
            <!-- Header and Row Definitions -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
          </table>
</div>
